.message {
    border-radius: 5px;
    padding: 0.5em;
    --message-color-ai: #d9dede;
    --message-color-user: #F95738;
}

.message.ai {
    background-color: var(--message-color-ai);
}

.message.user {
    background-color: var(--message-color-user);
    color: white;
    margin-left: 2em;
}

.input-form {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.input-form input[type='text'] {
    margin-right: 1rem;
    flex-grow: 1;
    line-height: 2;
}
